#BorrowList{
	width:100%;
    display:inline-block;
}

#Listing{
}

.accordion {
	border-bottom: 2px $brand-color solid; 
	margin:$align 0;

	dt{
		border-top: 2px $brand-color solid; 
		position:relative;

		a { 
			display:block;
			padding: 50px $align;
			transition:background-color .15s ease;
			transition: .5s ease;

			&.red{
				background-color:$brand-color;

				&:hover{
					padding:50px $align;
				}

				.h1, .h2{
					color:#fff;
				}
			}

			&:hover{
				background-color:$brand-color;
				padding:60px $align;

				.h1, .h2, .arrow{
					color:#fff;
				}
			}

			.arrow{	
				position:absolute;
				top:50px;
				right:50px;
				font-size:40px;
				text-align:center;
				height:40px;
				width:40px;
				display:inline-block;
				transform:rotate(0);
				transition:transform .5s ease;

				@media screen and (max-width: $break-3) {
					margin-top:15px;
		  		}

		  		@media screen and (max-width: $break-5) {
					padding:0;
		  		}

				&.flip{
					transform:rotate(180deg);
					color:#fff;
				}
			}
		}

		.info{
			z-index:2;
			position:relative;
			transition:opacity 1s ease;

  			@media screen and (max-width: $break-5) {
  				text-align:center;
  			}


			&.dim{
				opacity:.4;
			}

			h1, h2{
				text-transform:capitalize;
				max-width:80%;
			}

			h2, h3{
				@media screen and (max-width: $break-5) {
					float:none;
				}
			}
		}
	}

  	dd{
  		position:relative;
  		padding:0 $align 30px;

  		&.red{
			background-color:$brand-color;

			h1, p{
	  			color:#fff;
	  		}
		}

  		@media screen and (max-width: $break-4) {
  			padding: 15px 0 0;
  		}

  		@media screen and (max-width: $break-5) {
  			text-align:center;
  		}

  		h1, p{
  			color:$brand-color;
  		}

     	p{	
     		margin:5px 0 0;
			width:50%;

			@media screen and (max-width: $break-4) {
				margin: 0 $align2 30px;
			}

			@media screen and (max-width: $break-5) {
				margin:0 auto 30px;
				width:90%;
			}
		}

		.btn2{
			margin-top:25px;
		}

		&:last-of-type {
			position: relative;;
		}
  	}
}