#Footer{
	background-color:$brand-color;
	padding: $align 0 $align;
	overflow:auto;
	text-align:center;
	position:relative;

	img{
		width:50px;
		transition:1s ease;

		&:hover{
			transform:rotate(360deg);
		}
	}

	h1{
		color:#fff;

		.copyright{
			font-size:20px;
		}
	}
}
