#HomeContainer{
	overflow:auto;
    text-align:center;
    position:relative;

    .icons{
       position: relative;
        display: block;
        height: 300px;
        width: 300px;
        margin: auto;

        .spacer{
            display:block;
            height:300px;
        }
        img{
            position:absolute;
            width:300px;
            margin:0 auto;
            top: 0; 
            left: 0; 
      }
    }

    .hometitle{
       display: inline-block;
        width: 100%;
        margin: 0 0 50px;
        text-align: left;

        h1{
            width:700px;
            margin:0 auto;
        }

        a{
            border-bottom:3px $brand-color solid;

            &:hover{
                border-bottom:3px $brand-color dashed;
            }
        }
    }
 }
