#MoreProducts{

	.h2{
		border-top:2px $brand-color solid;
		padding: 20px 0 0;
	}

	.h3, .h4{
		color:fff;
	}

	.three{
		padding:20px 0 60px 0;
		max-width:1400px;
		font-size:0;
		text-align:justify;

	    &:after{
		  content:'';
		  display: inline-block;
		  width: 100%;
		  height: 0;
		}

		.product{
			width:24%;
			margin:0;
			vertical-align: top;
			display: inline-block;
			position: relative;

			&:hover{

				.imgouter:after{
					background-color:rgba($brand-color,.5);
				}

				.listinginfo{
					background-color:$brand-color;

					h1, h2{
						color:#fff;
					}
				}
			}

			.imgouter{
				background-image:url('../images/redsolo01.jpg');
				background-size:cover;
				background-position:center;
				position:relative;


				span{
					display:block;
					padding-top:100%;
				}

				&:after{
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					bottom:0;
					left:0;
					right:0;
					content:'';
					transition:.5s ease;
				}
			}

			.listinginfo{
				z-index:3;
				position:relative;
				padding:20px 10px;
				max-width:80%;
				margin: -15px auto 0;
				text-align:center;
				border:2px $brand-color solid;
				transition:.5s ease;
			}
		}	
	}
}