

#MainNav{
	margin: 0 auto;
	padding:50px 0 0 60px;
	position:fixed;
	top:0;
	height:100%;
	z-index:10;

	.logo{
		padding:10px;
		border: 3px $brand-color solid;
		display:block;
		box-shadow: -3px 3px 0px $brand-color;

		&:hover{
			box-shadow: 0 0 0 #fff;
			margin:3px -3px 0;
		}

	}

	@media screen and (max-width: $break-3) {
		display:none;
	}
}

#Nav{
	width:100%;
	text-align:left;
	position:absolute;
	top:155px;


	li{
		margin: 0 0 20px;


		&.login{
			margin:35px 0 0;
			opacity:.6;

			&:hover{
				opacity:1;
			}
		}


		a{
			border-bottom: 2px #fff solid;
			transition:border .15s linear;
			position:relative;

			&:after{
				position: absolute;
				top: 22px;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				height: 2px;
				width: auto;
				z-index: 10;
				transform:translate3d(-10px,0,0);
				background-color: $brand-color;
				opacity:0;
				transition: .5s ease;
			}

			&.active{
				&:after{
					transform:translate3d(0, 0, 0);
					opacity:1;
				}
			}

			&:hover{
				
				&:after{
					transform:translate3d(0, 0, 0);
					opacity:1;
				}
			}
		}
	}
}

#MobileNav{
	width:100%;
	display:none;
	position: absolute;
	width: 100%;
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparent;
	transition: .5s ease;

	@media screen and (max-width: $break-3) {
		display:block;
	}

	.logo2{
		z-index:100;
		padding:10px;
		border: 3px $brand-color solid;
		display:block;
		box-shadow: -3px 3px 0px $brand-color;
		position:absolute;
		top:25px;
		left:50px;

		&:hover{
			box-shadow: 0 0 0 #fff;
			margin:3px -3px 0;
		}

	}

	.menubtn{
		position:absolute;
		top:30px;
		right:50px;
		width:40px;
		height:40px;
		// border: 4px $brand-color solid;
		display:block;
		z-index:100;
	}

	&.open{
		z-index:60;
		background: rgba($brand-color, .9);
		opacity:1;
		pointer-events: auto;

		#Nav2{
			opacity:1;
			pointer-events: auto;
		}
	}
}

.line{
  position:absolute;
  height:4px;
  width:auto;
  background:$brand-color;
  left:5px;
  right:5px;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.line-t{
  top:8px;
}
.line-m{
  top:18px;
}
.line-b{
  top:28px;
}

button:hover .line{
  background:#999;
}
.menu-on .line-m, .menu-on:hover .line-m{
  opacity:0;
}
.menu-on .line{
	background:#fff;
    top:19px;
}
.menu-on .line-t{
	transform: rotate(45deg);
}
.menu-on .line-b{
	transform: rotate(-45deg);
}

#Nav2{
	position:absolute;
	z-index:99;
	text-align:center;
	width:100%;
	padding:100px 0;
	box-sizing:border-box;
	pointer-events: none;
	opacity:0;
	transition:opacity .5s ease;

	.h1{
		margin-bottom:10px;

		a{
			color:#fff;
		}
	}
	
}
