
#MainNav{
	margin: 0 auto;
	padding:50px 0 0 60px;
	width:150px;
	position:fixed;
	top:0;
	height:100%;
	z-index:10;

	@media screen and (max-width: $break-5) {
		position:absolute;
	}
}

#Nav{
	width:100%;
	text-align:left;

	li{
		margin: 0 0 20px;

		a{
			border-bottom: 2px #fff solid;
			transition:border .15s linear;

			&:hover{
				border-bottom: 2px $brand-color solid;
			}
		}
	}
}