#ProductListing{
  display:inline-block;
  margin-bottom:40px;

  @media screen and (max-width: $break-2) {
    margin-bottom:0;
  }
}

#Slideshow{
  width:50%;
  max-width: 685px;
  float:left;

  @media screen and (max-width: 1180px) {
    width:35%;
  }

  @media screen and (max-width: $break-2) {
    width:100%;
    max-width:100%;
  }

  .simpleSlider {
    z-index:1;	
    clear: both;
    position: relative;

    li {
    	width: 100%;
    	float: left;
      img {
        width: 100%;
        float: left;
        display: block;
        box-shadow: -8px 8px 0px $brand-color;
      }
    }
    .controls {
      opacity:0;
      width: 100%;
      height: 20px;
      text-align: center;
      float: left;
      background: black;
      z-index: 9999;
      span {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 5px;
        background: white;
        &:hover {
          cursor: pointer;
          background: yellow;
        }
      }
      .active {
  	  background: yellow;
  	  }
    }
  }

  .thumbs{
    display:inline-block;
    padding:5px 0;

    li:nth-child(2) {  
      margin: 0 10px;
    }

    li{
       background-image:url('../images/redsolo01.jpg');
       background-size:cover;
       background-position:center;
       display:inline-block;
       height:75px;
       width:75px;   
    }
  }
}

#ProductInfo{
  width:50%;
	z-index:2;
	position:relative;
	padding:25px 0 0 60px;
	float:left;
	max-width:600px;
  box-sizing:border-box;

  @media screen and (max-width: 1180px) {
    width:65%;
  }

  @media screen and (max-width: $break-2) {
    padding:25px 40px;;
    text-align:center;
    width:100%;
    max-width:100%;
  }

  .link{
    position:relative;

    &:after{
      position:absolute;
      content:"\203A \203A";
      top:0;
      bottom:0;
      right:-30px;
      color:$brand-color;
      transition:all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }

    &:hover{
      &:after{
        transform:translate3d(10px, 0, 0);
      }
    }
  }

	.title{
		h1{
			border-bottom:2px $brand-color solid;
			display:inline;
		}
	}

	.title{
		z-index:2;
	}

	.subinfo{
		margin:35px 0 10px;

		.h2{
			margin:5px 0 0;
		}
	}

	.haggle{
		margin:0 0 0 15px;
	}

	.story{
		margin:30px 0;
	}
}
