h1, h2, h3, h4, h5, li, a, .h1, .h2, .h3, .h4, .h5{
	font-family: 'Inconsolata', sans-serif;
	font-weight:700;
	letter-spacing:.05em;
	color:$brand-color;
}

h1, .h1{
	font-size: 42px;
	line-height:1.25em;

	// @media screen and (max-width: $break-3) {
	// 	font-size:60px;
	// }

	// @media screen and (max-width: $break-6) {
	// 	font-size:40px;
	// }
}

h2, .h2{
	font-size: 25px;
	line-height:1em;
}

h3, .h3{
	font-size: 20px;
	line-height: 1em;

	// @media screen and (max-width: $break-3) {
	// 	font-size:14px;
	// }

	// @media screen and (max-width: $break-6) {
	// 	font-size:12px;
	// }
}

h4, .h4 {
	font-size: 16px;
	line-height: 1.45;

	// @media screen and (max-width: $break-5) {
	// 	font-size:20px;
	// }
}

h5, .h5{
	font-size: 55px;
	line-height:1.25em;
}

p, .p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	line-height: 1.55;
	color:$brand-color;
}





